#name {
    margin-left: 33px;
}   
#labelname {
    color: blue;
}
#labelsurname{
    color: rgb(250, 7, 7);
}
#labelsecond-surname{
    color: rgb(73, 247, 5);
}
.fio{
    font-family: 'Times New Roman', Times, serif;
}
#range{
    width: 10%;
}